$range-slider-fill-color: blue;
@import "jspm:unsullied-react-range-slider/dist/RangeSlider";

html, body {
    font-family: "Arial"
}

body {
  background: white;
  padding: 20px;
}

.section {
  margin: 0 auto;
  max-width: 450px;
}

.bold {
  font-weight: 700;
}

.margin-bottom {
  margin-bottom: 40px;
}

.section-code {
  margin-top: 50px;
  padding: 20px;
  background-color: lightgrey;
  font-family: monospace;
  font-size: 13px;
}
